##
## This is an example file!
##
## To run the application you need to:
## - Register for an API key at: https://www.weatherapi.com/
## - Paste the API key (without quotes or whitespaces) on the REPLACE_WITH_KEY string
## - Rename this file to `.env`
##

VITE_APP_WEATHER_API_KEY=REPLACE_WITH_KEY